<div class="navbar navbar-expand-sm navbar-light navbar-lewagon fixed-top">
  <%= link_to root_path, class: "navbar-brand" do %>
   <span style="padding-left: 16px; color: #121212;">AWARENESS VR</span>
    <% end %>

<div class="d-flex flex-end " >
        <div class="nav-item">
          <%= link_to "about", about_path, class: "nav-link-2" %>
        </div>

          <div class="nav-item">
          <%= link_to "what it is", what_it_is_path, class: "nav-link-2" %>
        </div>



        <div class="nav-item ">
          <%= link_to "contact", contact_path, class: "nav-link-2" %>
        </div>
</div>

</div>
<br>

<div class="container justify-content-center align-items-center mt-3">
  <div class="d-flex flex-column justify-content-center align-items-center p-3 mt-5">
<br>

    <h1>About</h1>
    <br>
    <p>Thanks for visiting! Awareness VR is a project dedicated to helping users explore their relationship to their mind and reality through out of body VR experiences. </p>




    <p>Out of body experiences can deepen our meditations and help us understand ourselves as being part of something 'bigger". Having meditated for many years, I attended the London School of Economics, where I focused on how innovation can spark new ways of expanding the benefits of meditation. This project is the culmination my dissertation and informed by numerous interviews with vr labs and meditation experts.</p>

   <%= image_tag "profile.jpg", height: 350, width: 350, alt: "alttext" %>
   <br>

      <p>Previously I worked at Human Rights Watch and as a Fulbright scholar to India. </p>

  </div>

</div>
