<br>

<div class="container justify-content-center align-items-center mt-3">
  <div class="d-flex flex-column justify-content-center align-items-center p-5 mt-5">
    <br>

    <h1>Mental health</h1>
    <p class="p-2">Mental health in the UK is a widespread challenge that disproportionally affects impoverished youth. </p>


<%= image_tag "data.png", height: 250, width: 650, alt: "alttext" %>

<br>
<br>
<h1>Meditation</h1>
    <p>Meditation is a recommended tool to manage mental health (4), and has been successfully integrated into 370 UK schools (5).</p>

   <%= image_tag "circles.png", height: 250, width: 750, alt: "alttext" %>
   <br>

      <p>However, children aged 5-15 continue to find meditation challenging to learn and difficult to apply to their daily lives. </p>

      <%= image_tag "icons.png", height: 280, width: 600, alt: "alttext" %>
      <br>
      <br>

  <h1>Virtual Reality</h1>

    <p>Virtual reality meditation exercises can help overcome these barriers. </p>

       <%= image_tag "circles2.png", height: 220, width: 730, alt: "alttext" %>
   <br>
<br>

<h1>Vision</h1>
<p>Our mission is to significantly reduce rates of mental health issues among low-income youth in the UK by using easy-to-learn vr meditation exercises to help give them the lifelong resource of meditation. We hope that this will inspire related iniatives elsewhere.  </p>
      <%= image_tag "woman1.jpg", height: 400, width: 550, alt: "alttext" %>
      <br>
      <br>

<h1>References</h1>
<ol>
  <li style="font-size: 13px;">Social Metrics Commission 2019 Report:https://socialmetricscommission.org.uk/social-metrics-commission-results-tables-2/</li>
<li style="font-size: 13px;" >Saving Lives: Our healthier nation, Department of Health, 1999 https://www.gov.uk/Government/uploads/ system/uploads/attachment_data/file/265576/4386.pdf</li>
<li style="font-size: 13px;">Mental Health: Poverty, ethnicity and family breakdown, Centre for Social Justice, 2011 http://www. centreforsocialjustice.org.uk/UserStorage/pdf/Pdf%20reports/MentalHealthInterimReport.pdf</li>
<li style="font-size: 13px;">Mental Health Organization, NHS, Harvard Medical School, Center for Anxiety and Traumatic Stress Disorders, Cambridge Health Alliance, University of Massachusetts Medical Center</li>
<li style="font-size: 13px;">Nytimes.com. (2019). Schools in England Introduce a New Subject: Mindfulness. [online] Available at: https://www.nytimes.com/2019/02/04/world/europe/uk-mindfulness-children-school.html [Accessed 24 Nov. 2019].</li>
<li style="font-size: 13px;">Lutz, A., Slagter, H. A., Dunne, J. D., & Davidson, R. J. (2008). Attention regulation and monitoring in meditation. Trends in Cognitive Sciences, 12(4), 163–169.</li>
<li style="font-size: 13px;">Metz, S. M., Frank, J. L., Reibel, D., Cantrell, T., Sanders, R., & Broderick, P. C. (2013). The effectiveness of the learning to BREATHE program on adolescent emotion regulation. Research in Human Development, 10(3), 252–272.</li>
<li style="font-size: 13px;">Liehr, P., & Diaz, N. (2010). A Pilot Study Examining the Effect of Mindfulness on Depression and Anxiety for Minority Children. Archives of Psychiatric Nursing, 24(1), 69–71.</li>
<li style="font-size: 13px;">Jones, A. (2013, June 10). Meditation in schools: calming minds and beating stress. Retrieved from https://www.theguardian.com/teacher-network/teacher-blog/2013/jun/10/meditation-mindfulness-schools-stress-calming-classrooms.</li>
<li style="font-size: 13px;">Navarro-Haro MV, López-del-Hoyo Y, Campos D, Linehan MM, Hoffman HG, García-Palacios A, et al. (2017) Meditation experts try Virtual Reality Mindfulness: A pilot study evaluation of the feasibility and acceptability of Virtual Reality to facilitate mindfulness practice in people attending a Mindfulness conference. PLoS ONE 12(11): e0187777.https://doi.org/10.1371/journal.pone.0187777</li>
<li style="font-size: 13px;">Isacsson, D. (2016, February 1). Report: Youths Want Virtual Reality. Retrieved from https://www.digitaltrends.com/virtual-reality/report-youths-want-vr/.</li>

</ol>



  </div>

</div>
