<div class="navbar navbar-expand-sm navbar-light navbar-lewagon fixed-top">
  <%= link_to root_path, class: "navbar-brand" do %>
   <span style="padding-left: 16px; color: #121212;">AWARENESS VR</span>
    <% end %>

<div class="d-flex flex-end " >
        <div class="nav-item">
          <%= link_to "about", about_path, class: "nav-link-2" %>
        </div>

          <div class="nav-item">
          <%= link_to "what it is", what_it_is_path, class: "nav-link-2" %>
        </div>



        <div class="nav-item ">
          <%= link_to "contact", contact_path, class: "nav-link-2" %>
        </div>
</div>

</div>
<br>


  <div class="container justify-content-center align-items-center mt-5">
  <div class="d-flex flex-column justify-content-center align-items-center p-3 mt-5">

      <br>
      <h1>Product</h1>
      <br>

      <p>The goal of this project is to create and make available a series of guided, meditative sessions in VR that walk users through exploring the connection between their mind and reality. The style of sessions will be similar to those of Sam Harris on his Waking Up app (though in VR); exercises will have the implicit orientation of guiding users towards an awakened state/self-transcendence. The sessions build off the idea that experiencing the world through VR makes us question our reality outside of the VR headset. Consistent use of the exercises may provide mental health benefits. </p>

      <p>Similar to the style of widely used non-VR meditation apps (Calm,
Headspace, Waking Up), a narrator guides the meditation, meditations build
off of each other, and each course will focus on various aspects of meditations (see examples below). Content will be based self-transcendence and mental health research and will be built for Quest  </p>
<br>
<h1>Examples of exercises</h2>
<br>
<p>Experiencing "headlessness" by looking into a mirror and seeing yourself as someone else, and then seeing yourself as ntohing.</p>
<%= image_tag "mirror.jpg", height: 450, width: 450, alt: "alttext", class: "image"%>
<br>
<br>
<p>Experimenting with gravity by turning your environment upside down.</p>
<%= image_tag "upside down.jpg", height: 480, width: 450, alt: "alttext", class: "image" %>
<br>
<br>
<p>Merging with natural surroundings, such as by breathing with waves.</p>
<%= image_tag "waves.jpg", height: 450, width: 450, alt: "alttext", class: "image" %>
    </div>

  </div>




