<br>

<div class="main d-flex justify-content-space-between p-5 ">

  <div class="main justify-content-center align-items-center mt-3">
    <div class="d-flex flex-column justify-content-center align-items-center p-5 mt-5">
      <br>

      <h1>Product</h1>
      <p class="p-2">A series of guided vr meditation exercises tailored to youth designed by meditation and education experts.</p>
      <br>
      <p>1. VR exercises can make meditation easier to learn by capturing participants’ attention and gives users the illusion of “being there”. </p>

     <%= image_tag "undraw_augmented_reality.png", height: 300, width: 350, alt: "alttext"%>
      <br>
      <p>2. And it can simulate home dynamics or social situations, allowing users to practice applying meditation to real-life situations </p>

     <%= image_tag "undraw_a_day_at_the_park.png", height: 300, width: 370, alt: "alttext" %>

    </div>

  </div>

   <div class="main justify-content-center align-items-center mt-3">
    <div class="d-flex flex-column justify-content-center align-items-center p-5 mt-5">
      <br>

      <h1>Trainings</h1>
      <p class="p-2">In person guided meditations using the exercises in schools in low income areas.</p>
      <br>
      <p>1. Trainings provide headsets to all students. </p>

     <%= image_tag "undraw_virtual_reality.png", height: 300, width: 400, alt: "alttext" %>
      <br>
      <p>2. And involve post-training discussion. </p>

     <%= image_tag "undraw_hang_out.png", height: 300, width: 370, alt: "alttext" %>
     <br>
      <p>3. And tips for ways to practice meditation outside of the headset. </p>

     <%= image_tag "undraw_mindfulness.png", height: 300, width: 370, alt: "alttext" %>

    </div>

  </div>
</div>
