<!DOCTYPE html>
<html>
  <head>
    <meta name="description" content="Meditative, out-of-body virtual reality experiences, prompting exploration into the relationship between our mind and reality.">
    <meta charset="utf-8">
    <meta charset="UTF-8">
    <meta property="og:title" content="Awareness VR">
    <meta property="og:image" content="https://awarenessvr.org#{image_path('images/no head.jpg')}">
    <meta property="og:description" content="Meditative, out-of-body virtual reality experiences, prompting exploration into the relationship between our mind and reality.">
    <meta property="og:site_name" content="Awareness VR"/>

    <link href="https://fonts.googleapis.com/css?family=Lora:400,700&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Awareness VR</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->

  </head>
  <body style="background-color: white;">
    <%#= render 'shared/navbar' %>
    <%= yield %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
